.table {
    border-collapse: collapse;
}

.thead {
    color: #61dafb;
    .td.completed {
        position: relative;
        right: 10px;
    }
}

.tr {
    border-bottom: solid white 2px;
}

.td {
    padding: 10px 10px;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.todo__input {
    background-color: #6d788d;
    border-radius: 5px;
}
.todo__input:focus {
    color: black;
    outline: none !important;
    border: black solid 3px;
}