.userList {
    .h1 {
        text-align: center;
    }
}
.userList__table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;

    .thead .tr {
        color: #61dafb;
    }

    .tr {
        border-bottom: solid white 2px;
    }

    .td {
        padding: 10px 10px;
        width: 100px;
    }

    .userLink {
        color: white;
        text-decoration: none;
        display: flex;
    }
}